* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    min-width: 400px;
}

.btn-big {
    margin-top: 50px;
    background: #D82460;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    height: 54px;
    font-weight: bold;
}

.btn-big:hover {
    background: darkslategrey;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
}

.button {
    background: #D82460;
    color: #fff;
    border-radius: 10px;
    padding: 5px 25px;
}

.button:hover {
    /* margin-top: 50px; */
    background: grey;
    color: #fff;
}


.info-header>h1 {
    font-family: "Dancing Script";
    font-size: 150px;
}

.bottom-left>h2 {
    font-family: "Dancing Script";
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.bottom-left-text>h2 {
    font-family: "Dancing Script";
    font-size: 50px;
    font-weight: bold;
}


.figure {
    position: relative;
    display: inline-block;
    background: gray;
    width: 85%;
    padding-top: 110%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.figureClient {
    position: absolute;
    ;
    display: inline-block;
    width: 100%;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.figureCircle {
    position: absolute;
    ;
    width: 50%;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.figure43 {
    position: relative;
    display: inline-block;
    background: gray;
    width: 100%;
    padding-top: 75%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.figure31 {
    position: relative;
    display: inline-block;
    background: gray;
    width: 40%;
    padding-top: 30%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.my-container {
    padding-right: 10%;
    padding-left: 10%;
    margin: 0 auto;

}


.text-block {
    line-height: 15px;
    word-wrap: break-word;
}


.darken-pseudo {
    position: relative;
}

.darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    border-radius: 10px;
}

.item-img {
    width: 100%;
    height: 100%;
}


.img {
    width: 80%;
}

.bottom-left {
    position: absolute;
    bottom: 18px;
    left: 55px;
}

.info-dev-icon {
    position: absolute;
    left: 10%;
    top: 15%;
}

.text-bottom-icon-frame {
    top: 25%;
    position: absolute;
    margin-top: 20%;
    padding: 25px
}

.frame {
    min-height: 320px;
}

.bottom-left-text {
    position: absolute;
    bottom: 30%;
    left: 10%;
}

.bottom-left-text>h2 {
    color: white;
}

.top-right {
    position: absolute;
    top: 5%;
    right: 10%;
}

.top-left {
    position: absolute;
    top: calc(5%);
    left: 10%;
}

.top-right:hover {
    position: absolute;
    top: 5%;
    right: 10%;
}




.footer {
    /* background: #F3F3F3; */
    background: rgb(180, 183, 185);
    color: #484848;
}

.footer-page {
    margin: auto 50px;
}

.footer-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.center {
    margin: 0px auto;
}




section>header {
    margin-top: 100px;
    margin: 50px auto;
}

.header-table-footer>th {
    margin: 40px auto;
}