// @import "header";
@mixin container {
    width: 100px;
    height: 300px;
    background-color:cyan; 

}
.container{
    .content{
        @include container;
        // height: 400px;
        // background-color:green;
        // width:300px;
    }
} 
