$grey-1: #141415;
$grey-2: #313135;
$grey-3: #5a5a5e;
$grey-4: #8d8d91;
$grey-5: #b7b7b8;
$grey-6: #d6d6d7;
$grey-7: #ebebeb;
$grey-8: #fafafa;
$grey-9: #ffffff;

$primary-1: #043a1f;
$primary-2: #005c2e;
$primary-3: #00a35c;
$primary-4: #78e39b;
$primary-5: #bdf9c1;
$primary-6: #f3fdf2;

$green-1: #4c5b01;
$green-2: #7db60c;
$green-3: #c4e870;
$green-4: #e2fba7;
$green-5: #d0f0d3;

$orange-1: #7b5514;
$orange-2: #fc9803;
$orange-3: #fccb69;
$orange-4: #fff3b8;
$orange-5: #FAC761;

$red-1: #863a32;
$red-2: #ff6047;
$red-3: #ffb08f;
$red-4: #ffebd6;

$blue-1: #0a495c;
$blue-2: #3694f2;
$blue-3: #9fd5f9;
$blue-4: #d6edff;
$blue-5: #8CCDF8;


// color not in themes
$valid-color: #069356;
$green-color-1: #026433;
$green-color-2: #069356;
$green-color-5: #CAF6CD;

$gray-color-1: #828282;

$bg-green-1: #0BA366;
$bg-white-1: #F8FCF7;
$bg-orange-1: #FDA635;
$title-color-1: #B85C00;
$bg-red-3: #FDEBD8;

$border-color-1: #24617F;
$border-color-2: #E84B2C;

$line-color-1: #090A0B;
$line-color-2: #0A495C;

$text-color-1: #36363A;
$text-color-2: #8D342A;
$text-color-3: #18191B;
$text-color-4: #2E9BD1;
$text-color-4: #F3573F;

$text-link-color-1: #3E94EA;

$text-hover-color-1: #FBF1BB;
$bg-hover-color-1: #E4F8B5;

$bg-tag-color-1: #E2F2FE;
