#tools-page-wrap {
  position: unset !important;
  width: 100%;
  height: 100%;
}

.tools-page {
  width: 100%;
  height: 100%;
}

.tool-card-item {
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .description {
    font-size: 12px;
  }
}

body {
  max-width: unset;

  #__next {
    width: 100%;
    height: 100%;
  }
}

.bubbleUI {
  position: relative;
  //background-color: rgba(0, 0, 0, 0) !important;
  width: 100%;
  height: calc(100vh - 400px);
  border-radius: 50px;
  //background-color: white !important;
  overflow: hidden !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  margin-bottom: 10px;


  .companyBubble {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s ease;
  }

  .companyBubble:hover {
    opacity: 0.5;
  }
}