#tools-page-wrap {
  position: unset !important;
  width: 100%;
  height: 100%;
}

.tools-page {
  width: 100%;
  height: 100%;
}

.tool-card-item {
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .description {
    font-size: 12px;
  }
}

body {
  max-width: unset;
  div {
    width: 100%;
    height: 100%;
  }
}